@import "../base/var.scss";

input {
  position: relative;
  padding-left: 3.5%;
  border: 2px solid #f2f4f9;
  border-radius: 0.75vw;
  font-size: 12px;
  outline: none;
  width: calc(96.5% - 0.2vw);
  background: transparent;
  color: #676f7c;

  &::placeholder {
    color: #676f7c;
    opacity: 1;
    font-size: 12px;
  }

  &::-ms-input-placeholder {
    color: #676f7c;
    font-size: 12px;
  }

  &:focus {
    outline: 0.12vw solid #166dda;
  }

  &:disabled {
    background: #f2f4f980;
    position: relative;
    width: calc(96.5% - 1.2vw);
    padding-right: 1vw;
    color: #aab6cb;
    border: 0.1vw solid #f2f4f980;
  }
}
