.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  margin: 0 auto;
  max-width: 1920px;
  padding: 0 16px;

  .btn-routing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 18px;
  }

 
  backdrop-filter: blur(5px);
}
